/* global styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

.container {
	width: 100%;
	margin: 0 auto;
   	display: flex;
   	max-width: 1280px;
   	padding-left: 180px;
}


img {
	max-width: 100%;
}

/* link styles */

a:link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  padding: 5px;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: #3EF4A7;
  border-radius: 50px;
  color: #083261;
}

a:active {
  background-color: #3EF4A7;
  border-radius: 50px;
  color: #083261;
}

/* in paragraph styles */

.underline a:link {
	text-decoration: underline;	
	padding: 0;
}

.underline a:hover {
	background-color: transparent;
	color: #3EF4A7;
	border-radius: 0;
}


/* type */

h1, h2, h3, h4, h6 {
	font-family: 'Epilogue', sans-serif;
	color: #083261;
}


h1 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 64px;
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	font-weight: 300;
	font-size: 28px;
	text-align: center;
	line-height: 1.25;
}

h3 {
	font-weight: 900;
	font-size: 26px;	
}

h4 {
	font-weight: 900;
	font-size: 20px;
	display: inline;
	background-image: linear-gradient(to bottom, transparent 50%, #2FCDB8 50%, #2FCDB8 95%, transparent 95%);
	background-position: 0;
	background-repeat: repeat-x;
}

h5 {
	font-family: 'Epilogue', sans-serif;
	font-weight: 900;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #2FCDB8;	
}

h6 {
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	padding-bottom: 30px;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #083261;
}

/* layout */

.content-wrap{
	position: relative;
}

.columnhalf {
	width: 50%;
}

.columnthirds {
	width: 30%;
	padding: 3%;	
}

.columnfull {
	flex-direction: column;
}

.section-title {
	padding-bottom: 30px;
	margin-top: 50px;
}

.section-sub-title {
	margin-top: 2rem;
}

.section-break {
	margin-top: 4rem;
}

.padding1 {
	padding-top: 1.25rem;
}

.padding2 {
	padding-bottom: 1.25rem;
}

.padding3 {
	padding-top: 2rem;
}


/* header */

#header .container {
	padding-left: 40px;
	padding-right: 40px;
}

.header-background {
	background-image: url(images/headerbackground.svg);
	background-repeat: no-repeat;
}

#header, #footer {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	width: 20%;
	height: auto;
	display: inline-block;
	margin-top: 1rem;
	padding-bottom: 1.5rem;
}

.nav button {
	display: none;
}

.nav {
	text-align: center;
	width: 50%;
	margin-left: auto;
}

.nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
	color: #083261;
	font-size: 1rem;
	text-align: center;
	background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
	border-radius: 50px;
	margin-top: 2rem;
	padding: 8px 14px;
}

.nav a {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
}

/* header hover */

.nav a:hover {
  background-color: #ffffff;
  color: #083261;
}


/* welcome dot */

.welcomedot {
	display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 100px;
}

.welcomedot a:hover {
  	transform: scale(1.1);
  	background-color: transparent;
}

/* side nav */

.sidenav {
	position: sticky;
	top: 20px;
	padding-top: 40px;
	z-index: 1;
}

.sidenav ul {
	position: absolute;
	left: 20px;
	list-style: none;
	border-right: 1px solid #083261;
	padding: 20px;
	width: 150px;
	z-index: -1;
}

.sidenav li {
	margin-bottom: 20px;
	font-size: 14px;
}

.sidenav ul a {
	position: relative;
	display: block;
	z-index: 999;
}

.sidenav a:after {
	content:"";
	width: 26px;
	height: 26px;
	display: block;
	border-radius: 13px;
	background-color: #3EF4A7;
	position: absolute;
	right: -34px;
	top:0;
	transition: all .2s;
	z-index: -1;
}

.sidenav a:hover{
	background: none;
	color: #ffffff;
}

.sidenav a:hover:after {
	width: calc(40px + 100%);
}

#welcome {
	position: relative;
}


/* scrolling text */

.scrollingtext {
	font-family: 'Epilogue', sans-serif;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.3em;
	color: #FFFFFF;
	background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
	padding:15px;
}

marquee span {
	margin-right: 45px;
}

/* intro */

#intro.container {
	flex-direction: column;
	padding-left: 0;
}

.intro-content {
	padding-top: 100px;
	padding-bottom: 200px;
}

figure {
	width: 50%;
	max-width: 400px;
	margin: 0 auto;
}

figcaption {
	font-family: 'Epilogue', sans-serif;
	color: #083261;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 20px;
	line-height: 1.25;
}


#healthcare, #veterans, #thanks {
	margin-top: 100px;
}


/* block quotes and boxes */

.wrapper {
	margin: 0 auto;
	width: 75%;
	padding-bottom: 50px;
	padding-top: 50px;
}
 
.light-quote {
	font-weight: 300;
}

.shadow {
  box-shadow: 10px -10px 0px 0px #2FCDB8;
  margin: 50px auto;
  width: 100%;
  max-width: 900px;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 600;
} 
 
.shadowtopbox {
	padding: 20px 30px 20px 30px;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
	background: white;
	text-align: center;
} 

.shadowtopbox img {
	padding-bottom: 10px;
}

.stat1 {
	margin-right: 50px;
}

.stat2 {
	margin-left: 50px;
}

.firststat {
	padding-top: 30px;
}

.veterans-content {
	flex-direction: column;
}

/* speech bubbles */ 

.animate__fadeInTopLeft {
	animation-duration: 2s;
}

.animate__fadeInRight{
	animation-duration: 2s;
}

.animate__fadeInBottomLeft {
	animation-duration: 2s;
}

.speechbubble {
	margin-bottom: 100px;
}


/* thanks */

.thankscolumn {
 	flex-direction: column;
}

#thanks {
	background-image: url(images/thanksbackground.png);
	background-repeat: no-repeat;
}

.thanksheader {
	background-image: none;
}

.wrapper2 {
	max-width: 950px;
	padding-top: 50px;
	margin: 50px auto 0px auto;
}

.thanksbox {
	padding: 20px 30px 20px 30px;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
	background: white;
	list-style: none;
}

.thanksbox {
	column-count: 4;
	column-gap: 20px;
	column-rule-style: none;
	column-width: 25%;
}

.shadow2 {
  box-shadow: 10px -10px 0px 0px #2FCDB8;
  margin: 0 auto 50px auto;
  width: 100%;
  max-width: 950px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
} 

.animate__bounceInRight {
	animation-duration: 2s;
}

.animate__bounceOutLeft {
	animation-delay: 3s;
	animation-duration: 3s;
}

.tots {
	padding-bottom: 100px;
	text-align: right;
}


/* footer */ 
 
#footer {
	background-color: #083261;
	color: #ffffff;
	padding-left: 0;
}

#footer h3 {
	color: #ffffff;
	padding-bottom: 20px;
}

#footer ul {
	list-style: none;
}

#footer ul li {
	margin-bottom: 15px;
}


@media only screen and (max-width: 1262px) {
	.container {
   		padding-left: 250px;
	}

	.intro-content {
		padding-top: 50px;
		padding-bottom: 100px;
	}


	.wrapper2 {
		max-width: 700px;
		margin-left: 25%;
	}
		
	.shadow2 {
		max-width: 700px;
		margin-left: 25%;
	}
	
	.tots {
		padding-bottom: 200px;
	}
	
}

@media only screen and (max-width: 975px) { 
	.container {
		flex-direction: column;
		width: 100%;
		padding-right: 50px;
	}
	
	.columnhalf {
		width: 100%;
		padding-right: 50px;
	}
		
	.wrapper2 {
		max-width: 600px;
	}
		
	.shadow2 {
		max-width: 600px;
	}
	
}

@media only screen and (max-width: 880px) {
	#header .container {
		flex-direction: row;
	}
		
	.intro-content {
		padding-bottom: 80px;
	}
	
	.welcomedot {
		margin-top: 50px;
	}

	figure {
		width: 100%;
		padding-top: 30px;
	}
	
	figcaption {
		font-size: 16px;
	}
	
	h3 {
		line-height: 1.25;
	}

	.padding1 {
		padding-top: 0;
	}
	
	.reverse {
		flex-direction: column-reverse;
	}
	
	.section-break {
		margin-top: 2rem;
	}
	
	.wrapper2 {
		max-width: 600px;
		margin-left: 25%;
	}
		
	.shadow2 {
		max-width: 600px;
		margin-left: 25%;
	}
	
	#footer .container {
		flex-direction: column;
	}
	
	.columnthirds {
		width: 100%;
	}
	
	tots {
		padding-bottom: 100px;
	}
	
	#footer nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 20px;
	}
	
	#footer {
		padding-bottom: 30px;
	}
	
}

@media only screen and (max-width: 768px) {
	.sidenav {
		display: none;
	}
	
	.nav{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		padding-left: 40px;
		padding-right: 40px;
		z-index: 9;
	}
	
	.nav button {
		display: block;
		border: none;
		margin-left: auto;
		margin-top: 1rem;

	}
	
	.nav ul {
		display: none;
		border-radius: 10px;
	}
	
	
	.intro-content {
		padding-top: 150px;
	}
	
	.container, .intro-content {
		padding-left: 100px;
	}
	
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 22px;
	}
	
	h3 {
		line-height: 1.25;
	}	
	
	.section-title, .section-sub-title, .padding1 {
		margin-top: 1.5rem;
	} 
	
	.bubbles {
		padding-left: 25%;
	}
	
	.speechbubble {
		margin-bottom: 50px;
	}
	
	.thanksbox {
		column-count: 2; 
	}
	
	.wrapper2 {
		margin-left: 15%;
		max-width: 500px;
		padding-top: 0;
	}
	
	.shadow2 {
		margin-left: 15%;
		max-width: 500px;
	}

	
}

@media only screen and (max-width: 580px) {
	.wrapper2 {
		max-width: 400px;
	}
	
	.shadow2 {
		max-width: 400px;
	}	
		
	.tots {
		padding-bottom: 50px;
	}
}

@media only screen and (max-width: 480px) {
	
	.header-logo {
		width: 30%;
	}
	
	.welcomedot {
		display: none;
	}
	
	.intro-content {
		padding-top: 40px;
	}
	
	h1 {
		font-size: 38px;
	}
	
	
	h2 {
		font-size: 22px;
	}
	
	h3 {
		font-size: 22px;
	}
	
	.columnhalf {
		padding-right: 0;
	}
	
	.container, .intro-content {
		padding-left: 75px;
	}
	
	#healthcare, #veterans, #thanks {
		margin-top: 50px;
	}
	
	.section-title {
		margin-top: 1rem;
	}
	
	.section-sub-title {
		margin-top: 1rem;
	}
	
	.padding1 {
		padding-top: 0px;
		margin-top: 0px;
	}
	
	.section-title {
		padding-bottom: 1rem;
	}
	
	.section-break {
		margin-top: 1rem;
	}
    
    .shadow {
	    margin: 50px auto;
	    max-width: 300px;
    }
    
    .stat2 {
	    margin-left: 0px;
    }
    
	.speechbubble {
		margin-bottom: 20px;
	}
	
	.wrapper2 {
		max-width: 300px;
		margin: 0px auto 0px auto;
	}
	
	.shadow2 {
		max-width: 300px;
	}
	
	#footer nav ul {
		column-count: 2;
		width: 100%;
		display: block;
	}
	
@media only screen and (max-width: 380px) {
	.header-logo {
		width: 40%;
	}
	
	h1 {
		font-size: 28px;
	}
	
	
	h2 {
		font-size: 20px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	h5 {
		font-size: 18px;
	}
	
	h6 {
		font-size: 16px;
	}
	
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.intro-content {
		padding-left: 25px;
		padding-bottom: 40px;
	}
	
	.shadow {
    	margin: 25px auto;
    }
    
    .wrapper2 {
		max-width: 250px;
	}
	
	.shadow2 {
		max-width: 250px;
		margin-left: 10%;
	}
	
	
	}

}






